<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top: 52px;/* float: right; */ width:350px; /* margin-right: 5px; */">
    <div class="modal-content" style=" background: #161f36;color: white;">
      <div class="modal-header" style="padding: 10px;   border-bottom: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 27px;">
          <span aria-hidden="true" style="color:white;">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" style="color: white;">CONTACT :</h4>
      </div>
      <div class="modal-body live-help-popup">
      <ul>
       <li class="livehelp-list" id="visible">
       <span>Allan&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
         <ul class="livehelp-sub-list" id="hidden">
			<li><a href="#"	id="lhelp" onclick="AssistSDK.startSupport({destination : 'allan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice	&amp; Video</a></li>
			<li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'allan', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
			<li><a href="#"	id="lhelp" onclick="AssistSDK.startSupport({destination : 'allan', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
			<li><a href="#"	id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'allan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: allan</a></li>
		</ul>
		</li>
       <li class="livehelp-list" id="visible">
       <span>Barry&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
	      <ul class="livehelp-sub-list" id="hidden">
		       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'barry', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
		       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'barry', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
		       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'barry', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
		       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'barry', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: barry</a></li>
	       </ul>
       </li>
       
       <li class="livehelp-list" id="visible">
       <span>Bruce&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
         <ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'bruce', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'bruce', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'bruce', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'bruce', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: bruce</a></li>
	    </ul>
		</li>
		
       <li class="livehelp-list" id="visible"><span>Dan&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       	 <ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'dan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'dan', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'dan', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'dan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: dan</a></li>
	    </ul>
       </li>
       
       <li class="livehelp-list" id="visible"><span>Daveg&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        <ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'daveg', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'daveg', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'daveg', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'daveg', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: daveg</a></li>
	    </ul>
       </li>
       <li class="livehelp-list" id="visible"><span>Davep&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       	<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'davep', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'davep', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'davep', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'davep', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: davep</a></li>
	    </ul>
       
       </li>
       <li class="livehelp-list" id="visible"><span>Gethin&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       	<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'gethin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'gethin', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'gethin', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'gethin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: gethin</a></li>
	    </ul>
       </li>
       <li class="livehelp-list" id="visible"><span>Istvan&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       	<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'istvan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'istvan', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'istvan', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'istvan', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: istvan</a></li>
	    </ul>
       </li>
       <li class="livehelp-list" id="visible"><span>Jason&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'jason', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'jason', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'jason', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'jason', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: jason</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>John&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'john', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'john', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'john', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'john', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: john</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Len&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'len', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'len', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'len', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'len', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: len</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Lorin&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'lorin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'lorin', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'lorin', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'lorin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: lorin</a></li>
	    </ul>
       </li>
       
       <li class="livehelp-list" id="visible"><span>Mike&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'mike', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'mike', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'mike', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'mike', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: mike</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Nick&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'nick', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'nick', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'nick', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'nick', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: nick</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Peter&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'peter', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'peter', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'peter', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'peter', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: peter</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Quentin&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'quentin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'quentin', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'quentin', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'quentin', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: quentin</a></li>
	    </ul>
       </li>
       
        <li class="livehelp-list" id="visible"><span>Rich&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'rich', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'rich', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'rich', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'rich', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: rich</a></li>
	    </ul>
       </li>
       
       <li class="livehelp-list" id="visible"><span>Sajeel&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'sajeel', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'sajeel', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'sajeel', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'sajeel', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: sajeel</a></li>
	    </ul>
       </li>
       
       <li class="livehelp-list" id="visible"><span>Tabatha&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tabatha', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tabatha', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tabatha', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'tabatha', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: tabatha</a></li>
	    </ul>
       </li>
       
         <li class="livehelp-list" id="visible"><span>Tiffany&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tiffany', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tiffany', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'tiffany', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'tiffany', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: tiffany</a></li>
	    </ul>
       </li>
       
         <li class="livehelp-list" id="visible"><span>Alex&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
       		<ul class="livehelp-sub-list" id="hidden">
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'alex', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice &amp; Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'alex', videoMode : 'none' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Voice</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({destination : 'alex', videoMode : 'agentOnly' , url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp();">Agent Only Video</a></li>
	       <li><a href="#" id="lhelp" onclick="AssistSDK.startSupport({correlationId : 'alex', url : 'https://demo.jp.cafex.com:8443'});  hideLiveHelp(); ; addEndSupportGui(); ">Co-Browse - Code: alex</a></li>
	    </ul>
       </li>
       
       
       </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Contact Us</h3>
                        <div class="border-left"></div>
                        <p>Caf&eacute;X Finance, Inc.
						521 Fifth Avenue, Suite 822, New York, NY 10175   |   +1 (646) 351-0511
						Email: sales@cafex.com</p>
                    </div>
                   
                     <div class="col-md-6">
                        <h3>About Us</h3>
                        <div class="border-left"></div>
                        <p>Caf&eacute;X Finance is one of the largest private sector banks of U.S. Caf&eacute;X Finance currently has a network of 5,550 branches and 15,331 ATMs across U.S.</p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container text-center">
                <span>&copy; 2016 Caf&eacute;X Communications.</span>
            </div>
        </div>
        <script>
       