#numberentry {
    height: 30px;
    width: 320px;
    vertical-align: middle;
    background-color: gray;
    border: 0;
    font: normal 16px/16px Arial, serif;
    margin: 0;
    color:white;
    padding-left:5px;
    padding-right:5px;
}

#camera {
    # height: 420px;
    border: gray 1px solid;
    position:relative;
    margin-bottom: 5px;
    border-radius: 3px;
}

#videoview {
    width: 100%;
    height: 520px;
    max-height: 520px;
}

#videoview img {
    top: 375px;
    left: 350px;
    position: absolute;
    opacity: 0.5;
}

#preview {
    position:absolute;
    width: 150px;
    bottom: 10px;
    right: 10px;
    height: 120px;
}

#ringring {
    visibility: hidden;
}

#ringback {
    visibility: hidden;
}

.answerbutton, .endbutton,.holdbutton,.unholdbutton  {
   visibility: hidden;
}

.remotecontrol {
    visibility: hidden;
    position:absolute;
    bottom: 10px;
    width: 40px;
}

.localcontrol {
    visibility: hidden;
    position:absolute;
    bottom: 15px;
    right: 20px;
    width: 20px;
}

 #muteaudiobutton, #audioonbutton{
    left:75px;
}

#mutevideobutton, #videoonbutton {
    left:25px;
}

#mutescreenbutton, #screenonbutton {
    left:125px;
}

#voicecontainer {
    float:left;
    width:560px;
    position:relative;
}

.activeline {
    box-shadow: 0 0 5px 5px #FFFF99
}

.callbuttonrhs {
    position:absolute;
    right: 10px;
    top:7px;
}

.callbuttonlhs {
    position:absolute;
    right: 120px;
    top: 7px;
}

input:focus{
    outline: none;
}

#dialler {
    position:relative;
    background-color: gray;
    color:black;
    height:45px;
    line-height: 45px;
    padding-left: 5px;
    border-radius: 5px;
}

#dialler label {
    vertical-align:middle;
    color: white;
    margin-left:5px;
}

#voiceheader-text {
    float: left;
}

#video-settings-toggle {
    position: absolute;
    top: 10px;
    right: 7px;
}

#video-settings {
    display: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    width: 300px;
    height: 135px;
    background-color: rgba(207, 207, 207, 0.8);
    color: black;
    text-align: left;
    border-radius: 3px;
    /* Align under the overlay but over the video and settings popup text */
    z-index: 5;
}

#video-settings label {
    position: relative;
    float: left;
    margin-left: 15px;
    clear: left;
}

#video-settings input, #video-settings select {
    position: relative;
    float: right;
    margin-right: 15px;
    clear: right;
    margin-top: 12px;
}

#video-settings input[type="text"] {
    width: 76px;
    border: 1px solid grey;
    text-align: right;
    padding-right: 3px;
}

#video-settings input[type="button"] {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 12px;
    width: 80px;
    height: 30px;
}

#popup-notification {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 52px;
    background-color: rgba(50,50,50,0.75);
    padding: 5px;
    display: none;
    /* Align under the video settings, but over the video */
    z-index: 4;
    text-align: center;
}
