li {
    display: inline-block;
}
ul#navigation_2 
{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* font-family: "Century Gothic","HelveticaNeueLT Pro 45 Lt",sans-serif; */
}
/*
ul#navigation_2 li
{
    vertical-align: top;
    font-size: 114%;
    text-align: center;
    width: 100px;
}
*/
ul#navigation_2 li a {
    display: inline-block;
    /* padding: 10px 5px; */
}
ul#navigation_2 li a
{
    text-decoration: none;
}
ul#navigation_2 li a:link, a:visited, a:active
{
    /* color: black; */
}
/*
ul#navigation_2 li:hover
{
    background-color: red;
}
*/

ul#navigation_2 li ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display:none;
}
ul#navigation_2 li:hover ul
{
    display: inline-block;
}
/*
ul#navigation_2 li ul li
{
    /* padding: 10px 5px; */
    display: block;
    /* width: 150px; */
    text-align: left;
}
*/
/*
ul#navigation_2 li:hover ul
{
    background-color: #CBD966;
}
*/
