//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: @btn-font-weight;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  .button-size(@padding-base-vertical; @padding-base-horizontal; 18px; 19px; @border-radius-large);
  .transition(.2s all ease);

  // &:focus{

  // }

  &:hover
  {
    .button-variant(@brand-primary; @btn-default-bg; @brand-primary);
  }

  // &:active,
  // &.active {

  // }

  // &.disabled,
  // &[disabled],
  // fieldset[disabled] & {

  // }
}



// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  &:focus{
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }

  &:hover{
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
}
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  &:focus{
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }

  &:hover{
    .button-variant(@brand-primary; transparent; @brand-primary);
  }
}
// Success appears as green
.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  &:focus{
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }

}
// Info appears as blue-green
.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  &:focus{
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  }

}
// Warning appears as orange
.btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  &:focus{
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  }

}
// Danger and error appear as red
.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  &:focus{
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }

}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  display: inline-block;
  color: @brand-primary;
  font-weight: 600;
  border-radius: 0;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  position: relative;
  padding-right: 24px;
  &:before{
    position: absolute;
    content: '\f178';
    font-family: @fa;
    font-size: 18px;
    right: 0px;
    font-weight: 400;
    top: -3px;
    .transition(.1s);
    transition-delay: (0s);
  }
 & >span{
   position: absolute;
   padding-right: 24px;
   width: 0;
   left: 0;
   top: 0;
   overflow: hidden;
   .transition(.5s);
   white-space: nowrap;
 }
  &:after{
    content: attr(data-title);
    width: 0%;

  }
  &:focus{
    color: inherit;
    font-size: inherit;
  }

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
    & >span{
      width: 100%;
      color: @secondary-clr;
    }
    &:before{
      color: @secondary-clr;
      .transition(.4s);
      transition-delay: (0.3s);
    }
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; 18px; 19px; @border-radius-large);
  width: 359px;
  @media (max-width: 767px) {
    width: 280px;
  }
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
