//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  color: @headings-color;
  margin: 0;
}

h1, .h1 {
  font-size: @font-size-h1;
  line-height: @font-lh-h1;
  color: @brand-primary;
  font-family: @font-family-sec;
  font-weight: 900;

  // @media (max-width: 767px){  
  // }
  small,
  .small {
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-top: -11px;
    margin-left: -4px;
    text-transform: uppercase;
  }
  @media (max-width: 991px) {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: @font-size-h2;
  //line-height: @font-lh-h2;
  color: @brand-primary;
  font-weight: 300;
  //small{
  //  font-size: 45px;
  //  line-height: 60px;
  //  color: @secondary-clr;
  //}
  @media (max-width: 991px) {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: @font-size-h3;
  //line-height: @font-lh-h3;
  //font-weight: 700;
  color: @white-clr;
  // small{
  //   font-weight: 400;
  // }
  @media (max-width: 991px) {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: @font-size-h4;
  //line-height: @font-lh-h4;
  font-weight: 600;
  letter-spacing: -0.6px;
}

h5, .h5 {
  font-size: @font-size-h5;
  //line-height: @font-lh-h5;
  font-weight: 600;
  letter-spacing: -0.6px;
}

h6, .h6 {
  font-size: @font-size-h6;
  line-height: @font-lh-h6;
  font-weight: 700;
  color: @brand-primary;
  text-transform: uppercase;
}

// Body text
// -------------------------

p {
  line-height: @line-height-base;
  margin: 0;
}

.lead {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: @default-dark;
}

.lead2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: @secondary-clr;
}

.lead3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: @white-clr;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

p.strong {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: @brand-primary;
  @media (max-width: 767px) {
    font-size: 34px;
  }
}

.brdr1 {
  border-top: 1px solid #e1e1e1;
}

p.primary{
  color: @brand-primary;
  font-size: 36px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

//.txt1{
//  font-size: 16px;
//  line-height: 28px;
//}

// Main Layout
// -----------------------
* + .row {
  margin-top: 30px;
}

.row + * {
  margin-top: 30px;
}

.row + .row {
  margin-top: 30px;
}

h2 + h3.fw-sb {
  margin-top: 45px;
}

h3.fw-sb + * {
  margin-top: 12px;
}

h3 + .offs1 {
  margin-top: 81px;
  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

h3 + * {
  margin-top: 81px;
}

h5 + * {
  margin-top: 20px;
}

p.primary + *{
  margin-top: 12px;
}

* + h5 {
  margin-top: 20px;
}

* + h4 {
  margin-top: 40px;
}

h4 + * {
  margin-top: 17px;
}

//* + .btn {
//  margin-top: 40px;
//}

* + .btn-link {
  margin-top: 20px;
}

* + .btn-lg {
  margin-top: 40px;
}

.lead3 + .btn {
  margin-top: 45px;
}

* + .lead {
  margin-top: 34px;
}

p.strong + * {
  margin-top: 20px;
}

.ins1 {
  padding-left: 8%;
  padding-right: 8%;
  @media (max-width: 767px) {
    padding-left: 1%;
    padding-right: 1%;
  }
}

* + .offs2 {
  margin-top: 38px;
}

* + .offs3 {
  margin-top: 92px;
}

* + .offs4 {
  margin-top: 72px;
}

// FA
// -----------------------

.fa {
  line-height: inherit;
}

[class*='fa-'] {
  &:before {
    font-family: @fa;
    color: inherit;
  }
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  // font-size: floor((100% * @font-size-small / @font-size-base));
  // font-size: inherit;
}

mark,
.mark {
  background-color: @brand-warning;
  padding: .2em;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.center767 {
  @media (max-width: 767px) {
    text-align: center;
    * {
      text-align: center;
    }
  }
}

.center991 {
  @media (max-width: 991px) {
    text-align: center;
    * {
      text-align: center;
    }
  }
}

.left767 {
  @media (max-width: 767px) {
    text-align: left;
    * {
      text-align: left;
    }
  }
}

.left991 {
  @media (max-width: 991px) {
    text-align: left;
    * {
      text-align: left;
    }
  }
}

.right767 {
  @media (max-width: 767px) {
    text-align: right;
    * {
      text-align: right;
    }
  }
}

.right991 {
  @media (max-width: 991px) {
    text-align: right;
    * {
      text-align: right;
    }
  }
}

// Transformation
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fw-l {
  font-weight: 300;
}

.fw-n {
  font-weight: 400;
}

.fw-m {
  font-weight: 500;
}

.fw-sb {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.fw-xb {
  font-weight: 800;
}

.white {
  color: @white-clr;
}

.txt-sec {
  color: @secondary-clr;
}

// Contextual colors
.text-muted {
  color: @text-muted;
}

.text-primary {
  color: @brand-primary;
}

.text-success {
  color: @brand-success;
}

.text-info {
  color: @brand-info;
}

.text-warning {
  color: @brand-warning;
}

.text-danger {
  color: @brand-danger;
}

// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  * {
    color: #fff;
  }
  background: @brand-primary;
  // .bg-variant(@brand-primary);
}

.bg-secondary {
  background: @secondary-clr;
}

.bg-success {
  background: @brand-success;
}

.bg-info {
  background: @brand-info;
}

.bg-warning {
  background: @brand-warning;
}

.bg-danger {
  background: @brand-danger;
}

.bg1 {
  background: #fafafa;
  border-top: 1px solid #e1e1e1;
}

.bg2 {
  background: @default-lighter;
}

// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-bottom: 1px solid @page-header-border-color;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    padding: 0;
    list-style: none;
    margin: 0;
    a {
      padding: 0;
      list-style: none;
      margin: 0;
    }
  }
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
/*=================   List Inline   =====================*/
.list-inline {
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: @white-clr;
    font-weight: 400;
    & + li {
      margin-left: 40px;
    }
    a:hover {
      color: @secondary-clr;
    }
    @media (max-width: 550px) {
      display: block;
      text-align: center;
      & + li {
        margin-left: 0;
      }
    }

  }
}

.list {
  li {
    color: @default-light;
    font-size: 12px;
    line-height: 24px;
    a:hover {
      color: @white-clr;
      text-decoration: underline;
    }
  }
}

/*=================   Inline list   =====================*/

.inline-list {
  //margin-top: 30px;
  .fa {
    position: relative;
    font: 0/0 a;
    &:hover {
      &:before {
        color: @white-clr;
      }
      &:after {
        background: @secondary-clr;
      }
    }
  }
  .fa:before {
    font-size: 18px;
    .transition(.2s);
    color: #404040;
    position: absolute;
    z-index: 2;
    left: 12px;
    top: 2px;
  }
  .fa:after {
    position: absolute;
    content: '';
    .transition(.2s);
    background: #cacaca;
    width: 34px;
    height: 34px;
    .border-radius(50%);
    z-index: 1;
    top: -15px;
    left: 2px;
  }
  li {
    display: inline-block;
  }

  li + li {
    margin-left: 35px;
  }
  @media (max-width: 767px) {
    margin-left: -40px;
  }
}

/*================      Flex list     =================*/

.flex-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.flex-list li {
  display: table-cell;
  position: relative;
  text-align: center;
  a {
    display: inline-block;
    opacity: 1;
    .transition(.2s);
    @media (max-width: 1199px) {
      .transform(scale(0.7));
    }
  }
  a:hover {
    opacity: 0.5;
  }
  &:nth-child(2) {
    text-align: left;
  }
  &:nth-child(3) {
    text-align: right;
  }
}

@media (max-width: 991px) {
  .flex-list {
    li {
      display: inline-block;
      a {
        .transform(scale(0.9));
      }
    }
  }
}

/*================      Index list     =================*/

.index-list {
  margin-top: 79px;
  counter-reset: num;
}

.index-list li {
  position: relative;
  padding-left: 148px;
  max-width: 470px;

  &:before {
    content: counter(num, decimal-leading-zero);
    counter-increment: num;
    position: absolute;
    color: @white-clr;
    width: 128px;
    height: 128px;
    background: @brand-primary;
    font-size: 50px;
    font-weight: 400;
    left: 0px;
    top: 2px;
    padding-top: 30px;
    padding-left: 38px;
  }
  h5 + p{
    margin-top: 17px;
  }

  & + li {
    margin-top: 35px;
  }
  @media (max-width: 991px){
  &:before{
    width: 110px;
    height: 110px;
    padding-top: 17px;
    padding-left: 29px;
  }
  }
}

/*================    Marked list     =================*/

.marked-list {
  display: block;
  li {
    position: relative;
    padding-left: 36px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    color: @white-clr;
    &:before {
      position: absolute;
      content: '\f178';
      font-family: @fa;
      font-size: 18px;
      color: @brand-primary;
      left: 0;
      top: 1px;
    }
    & + li {
      margin-top: 0px;
    }
  }
  a {
    a:hover {
      color: @brand-primary;
    }
  }
}

.marked-list2 {
  display: block;
  margin-top: -3px;
  li {
    max-width: 239px;
    &:first-child {
      a {
        padding-top: 0;
        &:before {
          top: 2px;
        }
      }
    }
    a {
      position: relative;
      padding-left: 28px;
      font-size: 12px;
      padding-top: 6px;
      padding-bottom: 8.4px;
      display: inline-block;
      &:before {
        position: absolute;
        content: '\f061';
        font-family: @fa;
        color: @brand-primary;
        font-size: 12px;
        left: 1px;
        top: 6px;
        .transition(.2s);
      }
      &:hover {
        &:before {
          left: 5px;
          color: @brand-success;
        }
      }
    }
    & + li {
      margin-top: -2.5px;
      border-top: 1px solid #c7c7c7;
    }
  }
}

.marked-list2_mod {
  margin-top: 34px;
  & + * {
    margin-top: 20px;
  }
}

.icon-list {
  //margin-top: 15px;
  li {
    padding-left: 162px;
    position: relative;
    &:before {
      position: absolute;
      content: '\f0c0';
      font-family: @fa;
      font-size: 50px;
      color: @white-clr;
      padding-top: 30px;
      padding-left: 38px;
      width: 128px;
      height: 128px;
      background: @brand-primary;
      left: 15px;
      top: 2px;
    }
    h5 {
      margin-top: -2px;
    }
    h5 + * {
      margin-top: 18px;
    }
    a:hover {
      color: @brand-primary;
    }
    //& + li{
    //  margin-top: 10px;
    //}
  }
  li:nth-child(n+4) {
    margin-top: 34px;
  }
  li:nth-child(2) {
    &:before {
      content: '\f109';
      font-size: 59px;
      padding-top: 20px;
      padding-left: 30px;
    }
  }
  li:nth-child(3) {
    &:before {
      content: '\f1d8';
    }
  }
  li:nth-child(4) {
    &:before {
      content: '\f091';
      padding-top: 28px;
      padding-left: 40px;
    }
  }
  li:nth-child(5) {
    &:before {
      content: '\f16b';
      font-size: 58px;
      padding-top: 23px;
    }
  }
  li:nth-child(6) {
    &:before {
      content: '\f087';
      padding-left: 44px;
    }
  }
}

.icon-list_mod{
  li:nth-child(1) {
    &:before {
      content: '\f085';

      padding-top: 20px;
      padding-left: 30px;
    }
  }
  li:nth-child(2) {
    &:before {
      content: '\f080';
      font-size: 59px;
      padding-top: 20px;
      padding-left: 30px;
    }
  }
  li:nth-child(3) {
    &:before {
      content: '\f07b';
    }
  }
  li:nth-child(4) {
    &:before {
      content: '\f0e6';
      padding-top: 28px;
      padding-left: 40px;
    }
  }
  li:nth-child(5) {
    &:before {
      content: '\f073';
      font-size: 58px;
      padding-top: 23px;
    }
  }
  li:nth-child(6) {
    &:before {
      content: '\f06c';
      padding-left: 44px;
    }
  }
}

/*================    Term list     =================*/

.terms-list {
  //margin-top: 8px;
  dt {
    //font-weight: 400;
    //color: @brand-primary;
    //font-size: 20px;
  }

  * + dt {
    margin-top: 35px;
  }

  dt + * {
    margin-top: 20px;
  }

  dd {

  }
  & + * {
    margin-top: 27px;
    a{
      color: @brand-primary;
      text-decoration: underline;
      font-weight: 400;
    }
    a:hover {
      font-weight: 700;
      color: @text-color;
      text-decoration: none;
    }
  }
}

// Description Lists
dl {
  padding: 0;
  margin: 0;
  font-style: normal;
}

dt,
dd {
  padding: 0;
  margin: 0;
}

dt {
}

dd {
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }

    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
  // Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @abbr-border-color;
}

.initialism {
  font-size: 90%;
  .text-uppercase();
}

// Blockquotes
blockquote {
  margin: 0;
  margin-top: 81px;
  font-style: normal;
  // font-size: @blockquote-font-size;
  // color: inherit;
  .cite {
    display: table;

    img {
      display: table-cell;
      vertical-align: middle;
    }

    cite {
      display: table-cell;
      vertical-align: middle;
    }

    * + * {
      padding-left: 26px;
      @media (max-width: 400px) {
        padding-left: 16px;

      }
    }
  }

  cite {
    color: @secondary-clr;
    font-style: normal;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.6px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .img{
    display: inline-block;
  }
  q {
    .clearfix();
    font-style: italic;
    font-weight: 400;
  }
  * + p{
    margin-top: 24px;
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before {
      content: '';
    }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-top: 16px;
  font-weight: 600;
  color: @secondary-clr;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
}

.addr1 {
  margin-top: 16px;
  max-width: 335px;
  line-height: 0.9;
  color: @text-color;
  //margin-left: auto;
  //margin-right: auto;
  dl {
    padding-left: 0;
    margin-top: 0px;

    dt, dd {
      font-size: 14px;
      display: inline-block;
      font-weight: 400;
    }
    dt {
      width: 27%;
    }
    dd {
      width: 69%;
    }
    dd + dt {
      margin-top: 0;
    }
    dt + dd {
      margin-top: 0;
    }

  }
  & .mail {
    dt {
      width: 15%;
    }
    dd {
      // font-weight: 700;
      font-size: 14px;
      color: @brand-primary;
      a{
        text-decoration: underline;
        &:hover{
          color: @text-color;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 991px){
    padding-bottom: 20px;
  }
}

// Articles

article {
  time {
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.6px;
    color: @brand-primary;
    position: relative;
    padding-left: 39px;
    &:before {
      content: "\f073";
      position: absolute;
      font-family: @fa;
      left: 0px;
      top: 8px;
      font-size: 33px;
      font-weight: 400;
    }
  }
  time + * {
    margin-top: 22px;
  }
  h5 + * {
    margin-top: 18px;
  }
  * + .btn-link {
    margin-top: 19px;
  }
}

.article1 {
  margin-top: 79px;
  time {
    margin-top: -3px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: @secondary-clr;
    white-space: nowrap;
    padding-left: 0;
    display: inline-block;
    &:before {
      display: none;
    }
  }
  & + article {
    margin-top: 27px;
  }
}

//Figure
//---------------

figure {

  figcaption {
  }

}

.iframe {
  width: 515px;
  height: 293px;

  iframe {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 260px;
  }
  @media (max-width: 580px) {
    width: 290px;
    height: 180px;
  }
}